.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.next-arrow {
  right: 10px; /* Adjust based on your design */
}

.prev-arrow {
  left: 10px; /* Adjust based on your design */
}
